#title-container {
    margin: auto;
}

#subheader {
    margin: auto;
    display: inline-block;
}

#challenge-body {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

#guess-form {
    margin: auto;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guess-input {
    width: 80px;
}

#challenge-container {
    margin: auto;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sale-forms-container {
    display: flex;
    height: 100%;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

#token-balances {
    display: flex;
}

#user-balance-text {
    margin-left: 20px;
}

#sell-input {
    width: 70px;
}

#buy-input {
    width: 70px;
}

#retirement-buttons-container {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

#info-container {
    width: 650px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#check-solution-container {
    display: flex;
    justify-content: space-around;
}

#checkSolutionButton {
    display: inline-block;
    width: 150px;
    height: 40px;
}